html {
  scroll-behavior: smooth;
}





body {
    padding: 0px;
    font-family: "Radley", serif;
    font-style: normal;
}

#logo {
    width: 200px;
    width: auto;
    position: fixed;
    top: 0px;
    left: 10px;
    transition: opacity 0.5s ease;
    z-index: 1001;
}

.logo {
    max-width: auto;
    max-height: 50px;
}
#logo.hidden {
    opacity: 0;
    pointer-events: none;
}


section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    scroll-margin-top: 60px; /* offset for fixed navbar */
}



/* Hamburger base */
.hamburger {
  position: fixed;
  width: 50px;
  height: 40px;
  right: 0;
  top: 0;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001; /* stays above nav */
  background-color: none;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background:tomato; /* adjust to your theme */
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* When open → turn into a cross */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.side-nav {
    background-color: lemonchiffon;
    top: 0;
    color: tomato;
    padding: 15px;
    height : 50vh;
    width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    border-radius:  0px 0 0 0px;
    position: fixed;
    right: -120%; /* hide initially */
    transition: 0.9s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-right: 50px;
}
.side-nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-weight: bolder;
    font-style: normal;
    padding: 5px 10px;
    font-size: 0.7em;
    transition: color 0.3s ease;
}
.side-nav a:hover {
    color: tomato;
    text-decoration: underline;
}

.side-nav.open {
  right: 0;
}

.phone {
    font-size: 1.2em;
    color: tomato;
    font-weight: bolder;
    font-style: normal;
    padding: 5px 10px;
    border-right: solid 1px tomato;
}


    

.intro-section {
    margin-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: background-image 2s ease-in; /* smooth fade */
}

.intro-section::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.596); /* dark overlay */
    z-index: 0;
}

.intro-content {
    position: relative;
    z-index: 1;
}
.intro-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
}
.intro-section p {
    font-size: 1.2em;
    animation: fadeIn 1.5s ease-in-out;
    color:cyan;
}
.intro-btn{
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 1s ease;
    margin-top: 20px;
    animation: fadeIn 1.5s ease-in-out; 
}
.intro-btn:hover{
    background-color: cyan;
    color: #333;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(100px); }
  to { opacity: 1; transform: translateY(0); }
}








.about-section {
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    background-color: white;
    
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.about-content p {
    font-size: 1.2em;
    line-height: 1.4;
    color: #333;
    text-align: justify;
}

.view-more-button-container{
    background-color: #333;
    height: 300px;
    width: 100%;
    background-image: url(../staticimages/bg.jpg);
    background-position: fixed;
    background-size: cover;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
}
.ourservices-btn{
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.learn-more-btn {
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.ourservices-btn:hover{
    background-color: cyan;
    color: #333;
}

.learn-more-btn:hover{
    background-color: cyan;
    color: #333;
}










.projects-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-bottom: 20px;
    background-color: white;
}
.projects-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
}
.projects {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.project {
    background-color: lemonchiffon;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    padding: 15px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
}
.project:hover {
    transform: translateY(-5px);
}

.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project-image {
  width: 100%;
}

/* Navigation buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }


.project h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: tomato;
}

/* Dots */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 5px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #333;
}

.project p {
    font-size: 1.2em;
    line-height: 1.4;
    color: #333;
}

.view-all-btn{
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
.view-all-btn:hover {
    background-color: cyan;
    color: #333;
}





.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: wheat;
}

/* Contact Details */
.contact-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.contact-details form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.contact-details input,
.contact-details textarea {
    padding: 10px;
    border: 1px solid tomato;
    border-radius: 4px;
    font-size: 1em;
}

.contact-details textarea {
    height: 200px;
}

.contact-details button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    background-color: tomato;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-details button:hover {
    background-color: cyan;
    color: black;
}

.contact-details a {
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: bolder;
    font-style: normal;
    color: tomato;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: black;
    text-decoration: underline;
}

/* Contact Form Section */
.contact-form-section {
    width: 100%;
}

/* Contact Info */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    font-size: 1.2em;
}
.contact-info h4{
    color: tomato;
    text-align: center;
}

.info {
    width: 100%;
    padding: 12px;
    border-radius: 0 24px;
    background-color: white;
}
.cont-ico{
    width: 30px;
    height: 30px;
}















.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 20px 200px 20px;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    padding: 5px 10px;
    font-size: 0.7em;
    transition: color 0.3s ease;
}
.footer-links a:hover {
    color: tomato;
    text-decoration: underline;
}
.footer p {
    font-size: 0.9em;
    margin: 0;
}




/* big big screens*/

@media screen and (min-width: 1000px) {
    .side-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 50px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 0 40px;
        padding-left: 10%;
        transition: none;
    }
    .hamburger {
        display: none; /* hide hamburger menu */
    }
    #logo.hidden {
        opacity: 100;
        pointer-events: none;
    }
}



/* ================================
   Tablet & Desktop View (≥700px)
================================= */
@media screen and (min-width: 700px) {

    .side-nav a {
        font-size: .7em;
        color: black;
        padding: 0 15px;
    }

    /* Intro section side-by-side */
    .intro-section {
        flex-direction: column;
        justify-content: center;
        padding: 0 80px;
        text-align: left;
    }

    .intro-section h1 {
        font-size: 3rem;
    }

    .intro-section p {
        font-size: 1.5rem;
    }


    .about-section{
        padding: 0px;
        background-color: lemonchiffon;
    }

    .about-content {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        border-radius: 4px;
        padding: 24px 0;
        height: 100%;
    }

    .about-text {
        width: 50%;
    }
    .view-more-button-container{
        width: 30%;
    }

   



    /* Projects in rows of 3 */
    .projects {
        justify-content: space-evenly;
        gap: 12px;
    }

   .project {
        flex: 1 1 calc(25% - 12px); /* 3 per row, accounting for gap */
        box-sizing: border-box;         /* ensures padding/borders don’t break layout */
    }


    .contact-details {
        flex-direction: row;
        gap: 10%;
    }

    .contact-form-section {
        width: 50%;
    }
    .contact-info{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .info {
        width: 300px;

    }



    /* Footer links inline */
    .footer-links {
        justify-content: center;
        gap: 40px;
    }

}

