html {
  scroll-behavior: smooth;
}





body {
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
      font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;
}

#logo {
    width: 200px;
    width: auto;
    position: fixed;
    top: 0px;
    left: 10px;
    transition: opacity 0.5s ease;
    z-index: 1001;
}

.logo {
    max-width: auto;
    max-height: 50px;
}
#logo.hidden {
    opacity: 0;
    pointer-events: none;
}


section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    scroll-margin-top: 60px; /* offset for fixed navbar */
}








/* Hamburger base */
.hamburger {
  position: fixed;
  width: 50px;
  height: 40px;
  right: 0;
  top: 0;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001; /* stays above nav */
  background-color: none;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background:tomato; /* adjust to your theme */
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* When open → turn into a cross */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.side-nav {
    background-color: white;
    top: 0;
    color: tomato;
    padding: 15px;
    height : 50vh;
    width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    border-radius:  0px 0 0 0px;
    position: fixed;
    right: -120%; /* hide initially */
    transition: 0.9s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-right: 50px;
}
.side-nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-weight: bolder;
    font-style: normal;
    padding: 5px 10px;
    font-size: 0.7em;
    transition: color 0.3s ease;
}
.side-nav a:hover {
    color: tomato;
    text-decoration: underline;
}

.side-nav.open {
  right: 0;
}

.phone {
    font-size: 1.2em;
    color: tomato;
    font-weight: bolder;
    font-style: normal;
    padding: 5px 10px;
    border-right: solid 1px tomato;
}


    

.intro-section {
    margin-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: background-image 2s ease-in; /* smooth fade */
}

.intro-section::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.596); /* dark overlay */
    z-index: 0;
}

.intro-content {
    position: relative;
    z-index: 1;
}
.intro-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
}
.intro-section p {
    font-size: 1.2em;
    animation: fadeIn 1.5s ease-in-out;
    color:cyan;
}
.call-to-action{
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 1s ease;
    margin-top: 20px;
    animation: fadeIn 1.5s ease-in-out; 
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(100px); }
  to { opacity: 1; transform: translateY(0); }
}








.about-section {
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    background-color: white;
}


.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.about-content p {
    font-size: 1.2em;
    line-height: 1.4;
    color: #333;
    text-align: justify;
}


.learn-more-btn{
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    animation: slideRight 1.5s ease-in;
}

.learn-more-btn.animate {
    animation: slideRight 1.5s ease-in forwards;
    opacity: 1;
}

@keyframes slideRight {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background-color: white;
}
.services-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: Black;
    width: 100%;
    text-align: center;
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.service {
    width: 100%;
    transition: transform 0.3s ease;
    border: solid 2px tomato;
    margin-bottom: 24px;
    border-radius: 4px;
}
.service:hover {
    transform: translateY(-4px);
}
.service-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
.service h3 {
    font-size: 1.0em;
    margin-bottom: 4px;
    color: tomato;
    width: 100%;
    text-align: center;
}

.services-section p {
    font-size: 1.0em;
    line-height: 1.4;
    color: #333;
    max-width: 100%;
    text-align: left;
    padding: 4px;
}













.projects-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-bottom: 20px;
    background-color: white;
}
.projects-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
}
.projects {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.project {
    background-color: lemonchiffon;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    padding: 15px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
}
.project:hover {
    transform: translateY(-5px);
}
.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.project h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: tomato;
}
.project p {
    font-size: 0.9em;
    line-height: 1.4;
    color: #555;
}

.view-all-btn{
    background-color: tomato;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
.view-all-btn:hover {
    background-color: #3399cc;
}












.choose-us-section {
    padding-bottom: 20px;
    margin-top: 12px;
    background-color: lemonchiffon;
}
.choose-us-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    text-align: center;
}
.choose-us-section p {
    font-size: 1.2em;   
    line-height: 1.4;
    color: #333;
    max-width: 100%;
    text-align: justify;
    padding: 0 20px;
}


.reasons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}

.reason{
    border-left: solid 4px tomato;
    max-width: 250px;
    padding: 12px;
    text-align: justify;
}








.testimonials-section{
    display: flex;
}
.testimonials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.testimonial{
    background-color: lemonchiffon;
    max-width: 400px;
    padding: 20px;
}





.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-bottom: 20px;
    background-color: lemonchiffon;
    margin-bottom: 20px;
}
.contact-form-section{
    max-width: 500px;
}
.contact-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    text-align: center;
}
.contact-section p{
    color: black;
    padding: 12px;
    font-size: 1.2em;
    text-align: justify;
}
.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.contact-section input {
    padding: 10px;
    border: 1px solid tomato;
    border-radius: 4px;
    font-size: 1em;
}
.contact-section textarea {
    padding: 10px;
    border: 1px solid tomato;
    border-radius: 4px;
    font-size: 1em;
    height: 200px;
}


.contact-section button {
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
.contact-section button:hover {
    background-color: cyan;
    color: black;
}

.contact-info {
    font-size: 1.2em;
    color: white;
    padding: 12px;
    align-self: flex-start;
}
.contact-info p {
    margin: 5px 0;
}

.contact-details {
    margin-top: 20px;
    font-size: .9em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact-details p {
    margin: 5px 0;
}
.contact-details a {
    color: tomato;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    padding: 5px 10px;
    font-size: 0.9em;
    transition: color 0.3s ease;
}
.contact-details a:hover {
    color: black;
    text-decoration: underline;
}







.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 20px 200px 20px;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-style: normal;
    padding: 5px 10px;
    font-size: 0.7em;
    transition: color 0.3s ease;
}
.footer-links a:hover {
    color: tomato;
    text-decoration: underline;
}
.footer p {
    font-size: 0.9em;
    margin: 0;
}




/* big big screens*/

@media screen and (min-width: 1000px) {
    .side-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 50px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 0 40px;
        padding-left: 10%;
        transition: none;
    }
    .hamburger {
        display: none; /* hide hamburger menu */
    }
    #logo.hidden {
        opacity: 100;
        pointer-events: none;
    }
}



/* ================================
   Tablet & Desktop View (≥700px)
================================= */
@media screen and (min-width: 700px) {

    .side-nav a {
        font-size: .7em;
        color: black;
        padding: 0 15px;
    }

    /* Intro section side-by-side */
    .intro-section {
        flex-direction: column;
        justify-content: center;
        padding: 0 80px;
        text-align: left;
    }

    .intro-section h1 {
        font-size: 3rem;
    }

    .intro-section p {
        font-size: 1.5rem;
    }




    .about-content {
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }
    .about-text {
        width: 40%;
    }
    .about-content img{
        width: 40%;
    }




    .services-section{
        background-color: lemonchiffon;
    }

    /* Services in rows of 3 */
    .services {
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .service {
        width: 350px;
        padding: 12px;
    }

    /* Projects in rows of 3 */
    .projects {
        justify-content: center;
        gap: 30px;
    }

    .project {
        width: 280px;
    }

    






    .choose-us-section {
        gap: 40px;
    }
    .divider {
        max-width: auto;
    }

    /* Footer links inline */
    .footer-links {
        justify-content: center;
        gap: 40px;
    }
    .contact-details {
        flex-direction: row;
        font-size: 1.0em;
    }
}

