.projects{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}
.projects h2{
    text-align: center;
    color: #333;
}
.projects .project{
    margin-bottom: 20px;
}
.projects .project img{
    width: 100%;
    border-radius: 8px;
}
.projects .project p{
    margin-top: 10px;
    color: #666;
}
.projects .project a{
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}
.projects .project a:hover{
    text-decoration: underline;
}
